* {
  background-color: gray;
  color: white;
}
div {
  width: 100vw;
  height: 40vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}
h2,
h3,
ol {
  margin-top: -2vh;
}

ol{
  list-style-type: none;
  flex-direction: column;
  display: flex;
  align-items: center;
}